<!DOCTYPE html>
<html lang = "ro">
    <head>
        
        <meta name = "description" content = "Clubul Sportiv Shuttle Life...">
        <meta name = "keywords" content = "club sportiv, badminton, Shuttle Life">
        <link rel="stylesheet" type="text/css" href="/resurse/css/403.css" />
        <title>Eroare 403</title>
        
        <%- include("../fragmente/head") %>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
           <div class = "container">
               <div id = "imagine"></div>
               <br>
               <p>Forbidden!</p>
               <div id = "buton_home"><a href = "/index">Go back home</a></div>
           </div>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>