<!DOCTYPE html>
<html lang = "ro">
    <head>
        
        <meta name = "description" content = "Clubul Sportiv Shuttle Life...">
        <meta name = "keywords" content = "club sportiv, badminton, Shuttle Life">
        <link rel="stylesheet" type="text/css" href="/resurse/css/404.css" />
        <title>Eroare 404</title>
        
        <%- include("../fragmente/head") %>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
           <div class = "container">
               <h2>Oops! Page not found.</h2>
               <h1>404</h1>
               <p>We can't find the page your're looking for.</p>
               <div id = "buton_home"><a href = "/index">Go back home</a></div>
           </div>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>