<!DOCTYPE html>
<html lang = "ro">
    <head>
        
        <meta name = "description" content = "Clubul Sportiv Shuttle Life...">
        <meta name = "keywords" content = "club sportiv, badminton, Shuttle Life">
        <title>Galerie statică</title>
        <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type="text/css" />
        <%- include("../fragmente/head") %>
    </head>
    <body>
    <%- include("../fragmente/header") %>
    
    <main>
        <section>
            <%- include("../fragmente/galerieS") %>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>