*{
    box-sizing: border-box;
} 

body{

    --culoare-1: #cd853f;
	--culoare-2:#FFB469;
	--culoare-3:#804D1B;
    --culoare-4: #0E6580;
    --culoare-5: #3FABCC;

}

.checkbox{
    opacity: 0;
    position: absolute;
}


.label{
    background-color: black;
    display: flex;
    border-radius: 50px;
    height: 26px;
    width: 50px; 
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translate(24px);
}


.fa-moon{
    color: #f1c40f;

}


.fa-sun{
    color: #f39c12;
    
}