<footer>
    <br>
    <h4>Contact</h4>
    <address>
        Adresă: <abbr title= "Strada">Str.</abbr> Soarelui, <abbr title= "Numărul">Nr.</abbr> 23, Sector 4, București<br>
        E-mail: <a href="mariad@outlook.com">mariad@outlook.com</a><br>
        Telefon: <a href="tel:+4733378901">+47 333 78 901</a><br>
    </address>
    <small>&copy; Copyright<time datetime="2021-03-04"> Martie 2021</time> Duțu Maria Alexandra</small><br>
    <br>
    <div id = "sus" title="sus"><a href = "#" ><div id = "sageata">&#8679</div></a></div>
</footer>